{minimum_otp_vsn, "22.0"}.
%% for make *.erl file
{erl_opts, [
    warnings_as_errors
]}.

%% for test
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [
    {dir, ["test/eunit"]}
]}.
{ct_opts, [
    {dir, ["test/ct"]},
    {label, ege_net},
    {readable, true},
%%    {suite, [ege_ws_listener_SUITE]}, %% 只测试指定suite
%%    {testcase, [concurrency_connect]}, %% 只测试指定testcase
    {ct_hooks, [{ege_net_ct_hook, []}]},
    {sys_config, ["test/ct/ct_sys.config"]}
]}.

{edoc_opts, [{packages, false}, {dir, "edoc"}]}.

{dialyzer, [
    {plt_extra_apps, [gproc, cowboy, cowlib, ranch, parse_trans]}
]}.

%% profiles
{profiles, [
%%    test
    {test, [
        {erl_opts, [
            export_all, nowarn_export_all,
            {i, "test/proto/include"}
        ]},
        {deps, [
            {meck, "0.8.13"},
            {gun, "1.3.0"}
        ]}
    ]}
]}.

{deps, [
    {recon, "2.5.0"},
    {gproc, "0.8.0"},
    {parse_trans, "3.3.0"},
    {cowboy, "2.6.3"},
    {east_helper, {git, "https://github.com/feng19/east_helper", {tag, "0.1.1"}}}
]}.
